@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// Colors
$Very-light-gray: hsl(0, 100%, 100%);
$Very-dark-gray: hsl(0, 2%, 10%);
$Dark-gray: hsl(0, 0%, 59%);
$Light-gray: hsl(0, 2%, 77%);

:root {
  // light mode
  --bg-color: #{$Very-light-gray};
  --text-color: #{$Very-dark-gray};
  --faint-text: #{$Dark-gray};
  --bx-shadow: rgb(210, 210, 210);

  color-scheme: light dark;
  font-size: 18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// dark mode
.dark-mode {
  --bg-color: #{$Very-dark-gray};
  --text-color: #{$Very-light-gray};
  --faint-text: #{$Light-gray};
  --bx-shadow: rgb(60, 60, 60);
}

// Adapts to the user's system preferred color scheme, specifically for dark mode
// @media (prefers-color-scheme: dark) {
//   :root {
//     --bg-color: #{$Very-dark-gray};
//     --text-color: #{$Very-light-gray};
//     --faint-text: #{$Light-gray};
//     --bx-shadow: rgb(60, 60, 60);
//   }
// }

.rootReactVNB {
  display: none !important;
}